    <footer>
        <div>
            Made by <a class="link-style" href="https://twitter.com/franc_iero" target="_blank">Franco Noronha</a> 😎 | 
            <a target="_blank" href="https://github.com/franconoronha"><i class="devicon-github-original"></i></a>
        </div>
    </footer>
</body>
</html>
